@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&family=Zen+Kaku+Gothic+Antique:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&family=Work+Sans:wght@800&family=Zen+Kaku+Gothic+Antique:wght@700;900&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    border:0;
}

body{
    cursor: url(/Assets/icons8-select-cursor-481.png), auto;
    height: 100vh;
    width: 100vw;
    gap: 25px;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
}

.video{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: fill;
}

.container-esquerda{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding-top: -50px;
    padding-top: 50px;
    padding-left: 50px;
}

.container-perfil{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #c576c3;
}

.container-foto{
    height: 70%;
    width: 300px;
    border-radius: 1%;
    padding-bottom: 100px;
}

.foto{
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661567431651368/berserk.gif?ex=65612130&is=654eac30&hm=f05e0341c17c2330c7385ae2f22f384b1e6dcdc4d225aaf50d60251cfba317ed&);
    background-size: cover;
    background-color: #424465;
    border: 3px solid #ff6f97;
    box-shadow: 10px 10px 0px 4px rgba(0,0,0,0.75);
}


.container-info{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 100px;
    padding-left: 100px;
    color: white;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #74eeb3;
}

.container-firstinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: 'Work Sans', sans-serif;
}

.lista{
    font-family: 'Work Sans', sans-serif;
}

.nome{
    font-size: 50px;
    font-weight: 600;
    text-shadow: 3px 2px 0px rgba(43, 43, 43, 1);
}

.sub{
    padding: 5px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #c576c3;
    text-shadow: 2px 1px 0px rgba(43, 43, 43, 1);
}

.titulo{
    font-weight: 600;
    text-align: center;
}

.container-bio{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #74eeb3;
    background-color: #20344c;
    border-radius: 5px;
    border: 1px solid white;
    transition: 500ms;
}

.padando{
    padding: 10px;
}

.tab{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    background-color: #131b25;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5px;
}

.BIO-SOCIALS{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container-socials{
    display: flex;
    width: fit-content;
    height: 7rem;
    background-color: #131b25;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 10px 10px 0px 2px rgba(0,0,0,0.75);
    cursor: url(/Assets/icons8-select-cursor-48.png), auto;
    transition: 250ms;
}


a{
    cursor: url(/Assets/icons8-select-cursor-48.png), auto;
}

.icon{
    transition: 500ms;
    height: 80px;
}


.github{
    background-image: url(/Assets/icons8-github.svg);
    width: 100px;
    background-repeat: no-repeat;
    transition: 150ms;
}

.github:hover{
    background-image: url(/Assets/icons8-github-100.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #424465;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 250ms;
}

.discord{
    background-image: url(/Assets/icons8-discord.svg);
    width: 100px;
    background-repeat: no-repeat;
    transition: 150ms;
}

.discord:hover{
    background-image: url(/Assets/icons8-discord-100.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #6c3f8a;
    transition: 250ms;
}

.linkedin{
    background-image: url(/Assets/icons8-linkedin-100.svg);
    width: 100px;
    background-repeat: no-repeat;
    transition: 150ms;
}

.linkedin:hover{
    background-image: url(/Assets/icons8-linkedin.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #3f668a;
    transition: 250ms;
}

.spotify{
    background-image: url(/Assets/icons8-spotify.svg);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    transition: 150ms;
}

.spotify:hover{
    background-image: url(/Assets/icons8-spotify-100.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #4aad4f;
    transition: 250ms;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-direita{
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
}

.container-principal{
    height: fit-content;
    width: 100%;
    max-width: 40vw;
    background-color: #20344c94;
    border-radius: 4px;
    border: 2px solid #74eeb3;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

.texto{
    color: white;
    display: flex;
    justify-content: center;
    background-color: #131b25;
    background-image: url(Assets/lines.png);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 2px solid #74eeb3;
}

.principal{
    padding: 25px;
    width: 300px;
    text-align: center;
    color: white;
    text-shadow: 3px 2px 0px rgba(43, 43, 43, 1);
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    padding: 25px;
    cursor: url(/Assets/icons8-select-cursor-48.png), auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #ffffff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    transition: all 250ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 1);
}

.card:hover{
    transform: scale(1.05);
    filter: contrast(1.20);
    box-shadow: 0px 0px 25px 5px #74eeb3;
}

#musica{
    background-image: url(/Assets/download.png);
}

#musica:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661566987051129/download.gif?ex=65612130&is=654eac30&hm=df19a22ced596cef04ce3972b8926867ec7704ee1eb76f847372e5cd580d0a1e&);
}

#pokemon{
    background-image: url(/Assets/pokemon.png);
}

#pokemon:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661565208662137/pokemon.gif?ex=65612130&is=654eac30&hm=ffdf8dc66b88997b1cf20f5ef81911bd19e1afa94e042eec834dbc22944c8ccd&);
}

#modelagem{
    background-image: url(/Assets/modelagem.png);
}

#modelagem:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661565854589008/modelagem.gif?ex=65612130&is=654eac30&hm=6f5faef069a9272ea45b34be56917b4ec2e89a038537a414e2a083c43fbed83c&);
}

#jogos{
    background-image: url(/Assets/jogos.png);
}

#jogos:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661566538264686/jogos.gif?ex=65612130&is=654eac30&hm=14ac3c2819852492bf610e57d6760f3843936df35fce35fb7bdeed3bd591cbb7&);
}

@media (max-width: 1455px){
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #353535;
        font-size: 2rem;
        color: #ffffff;
        box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
        height: 300px;
        width: 100%;
        border-radius: 4px;
        transition: all 250ms;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;
        text-shadow: -2px 3px 2px rgba(0, 0, 0, 1);
    }

    .grid{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: auto;
        padding: 25px;
        cursor: url(/Assets/icons8-select-cursor-48.png), auto;
    }

    .container-foto{
        height: 65%;
        width: 300px;
        border-radius: 1%;
        padding-bottom: 100px;
    }
    
}