@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&family=Work+Sans:wght@800&family=Zen+Kaku+Gothic+Antique:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    border:0;
}

body{
    cursor: url(/Assets/icons8-select-cursor-481.png), auto;
    height: 100vh;
    width: 100vw;
    gap: 25px;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
}

.phone-bg{
    display: none;
}

.video{
    height: 1080px;
    width: 100%;
    position: absolute;
    z-index: -1;
    object-fit: fill;
    filter: blur(2px);
}

.container-esquerda{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding-top: -50px;
    padding-top: 50px;
    padding-left: 50px;
}

.container-perfil{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #c576c3;
}

.container-foto{
    height: 70%;
    width: 300px;
    border-radius: 1%;
    padding-bottom: 100px;
}

.foto{
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661567431651368/berserk.gif?ex=65612130&is=654eac30&hm=f05e0341c17c2330c7385ae2f22f384b1e6dcdc4d225aaf50d60251cfba317ed&);
    background-size: cover;
    background-color: #424465;
    border: 5px solid #ff6f97;
    border-image: linear-gradient(0deg, #74eeb3 0%, #c576c3 100%) 1;
    box-shadow: 10px 10px 0px 4px rgba(0,0,0,0.75);
}


.container-info{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 100px;
    padding-left: 100px;
    color: white;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #74eeb3;
    list-style: none;
    font-size: 1.1rem;
}

.container-firstinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    font-family: 'Work Sans', sans-serif;
}

.lista{
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.nome{
    font-size: 50px;
    font-weight: 600;
    text-shadow: 3px 2px 0px rgba(43, 43, 43, 1);
}

.sub{
    padding: 5px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #c576c3;
    text-shadow: 2px 1px 0px rgba(43, 43, 43, 1);
}

.titulo{
    font-weight: 600;
    text-align: center;
}

.container-bio{
    display: flex;
    flex-direction: column;
    width: 65%;
    color: #74eeb3;
    background-color: #20344c;
    border-radius: 5px;
    border: 1px solid white;
    transition: 500ms;
}

.padando{
    padding: 10px;
    font-family: 'Space Mono', monospace;
}

.tab{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    background-color: #131b25;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 5px;
}

.BIO-SOCIALS{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.container-socials{
    display: flex;
    width: fit-content;
    height: 7rem;
    background-color: #131b25;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 10px 10px 0px 2px rgba(0,0,0,0.75);
    cursor: url(/Assets/icons8-select-cursor-48.png), auto;
    transition: 250ms;
}

.arrow-icon{
    position: fixed;
    z-index: -99;
}

a{
    cursor: url(/Assets/icons8-select-cursor-48.png), auto;
}

#github{
    background-image: url(/Assets/icons8-github.svg);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    transition: 150ms;
}

#github:hover{
    background-image: url(/Assets/icons8-github-100.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #424465;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: 250ms;
}

#discord{
    background-image: url(/Assets/icons8-discord.svg);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    transition: 150ms;
}

#discord:hover{
    background-image: url(/Assets/icons8-discord-100.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #6c3f8a;
    transition: 250ms;
}

#linkedin{
    background-image: url(/Assets/icons8-linkedin-100.svg);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    transition: 150ms;
}

#linkedin:hover{
    background-image: url(/Assets/icons8-linkedin.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #3f668a;
    transition: 250ms;
}

#spotify{
    background-image: url(/Assets/icons8-spotify.svg);
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    transition: 150ms;
}

#spotify:hover{
    background-image: url(/Assets/icons8-spotify-100.svg);
    height: 7rem;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-color: #4aad4f;
    transition: 250ms;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-direita{
    display: flex;
    flex-grow: 1;
    padding-top: 50px;
}

.container-principal{
    height: fit-content;
    width: 100%;
    max-width: 40vw;
    background-color: #20344c94;
    border-radius: 4px;
    border: 2px solid #74eeb3;
    border-image: linear-gradient(0deg, #c576c3 0%, #74eeb3 100%) 1;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}

.texto{
    color: white;
    display: flex;
    justify-content: center;
    background-color: #131b25;
    background-image: url(Assets/lines.png);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 2px solid #74eeb3;
}

.principal{
    padding: 25px;
    width: 300px;
    text-align: center;
    color: white;
    text-shadow: 3px 2px 0px rgba(43, 43, 43, 1);
    font-family: 'Space Mono', monospace;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    padding: 25px;
    cursor: url(/Assets/icons8-select-cursor-48.png), auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 2.9rem;
    color: #ffffff;
    font-family: 'Space Mono', monospace;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 335px;
    width: 100%;
    border-radius: 4px;
    transition: all 250ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;
    text-shadow: -2px 3px 2px rgba(0, 0, 0, 1);
}

.card:hover{
    transform: scale(1.05);
    filter: contrast(1.20);
    box-shadow: 1px 1px 15px 4px rgba(116,238,179,0.88);
}

#musica{
    background-image: url(/Assets/download.png);
}

#musica:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661566987051129/download.gif?ex=65612130&is=654eac30&hm=df19a22ced596cef04ce3972b8926867ec7704ee1eb76f847372e5cd580d0a1e&);
}

#projetos{
    background-image: url(/Assets/projetos.png);
}

#projetos:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1177734488025993436/projetos.gif?ex=657395b7&is=656120b7&hm=2b40249b985a3aca5110ed223d533f1104dc87fc0e2974cd001ee16e41cf35ab&);
}

#modelagem{
    background-image: url(/Assets/modelagem.png);
}

#modelagem:hover{
    background-image: url(https://art.ngfiles.com/images/1594000/1594446_pinkmoth_quickie-gear-gif.gif?f1610837374);
}

#jogos{
    background-image: url(/Assets/jogos.png);
}

#jogos:hover{
    background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1172661566538264686/jogos.gif?ex=65612130&is=654eac30&hm=14ac3c2819852492bf610e57d6760f3843936df35fce35fb7bdeed3bd591cbb7&);
}

@media (max-width: 1455px){
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #353535;
        font-size: 2rem;
        color: #ffffff;
        box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
        height: 350px;
        width: 100%;
        border-radius: 4px;
        transition: all 250ms;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        user-select: none;
        text-shadow: -2px 3px 2px rgba(0, 0, 0, 1);
    }

    .grid{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: auto;
        padding: 25px;
        cursor: url(/Assets/icons8-select-cursor-48.png), auto;
    }

    .container-foto{
        height: 55%;
        width: 320px;
        border-radius: 1%;
        padding-bottom: 100px;
    }
    
    .container-bio{
        display: flex;
        flex-direction: column;
        width: 80%;
        color: #74eeb3;
        background-color: #20344c;
        border-radius: 5px;
        border: 1px solid white;
        transition: 500ms;
    }
}

@media (max-width: 1204px){
    .card {
        height: 165px;
    }

    .container-foto{
        height: 0px;
        width: 0px;
    }

    .foto{
        background-color: none;
        border: none;
    }

    .container-info{
        display: flex;
        flex-direction: column;
        gap: 45px;
        padding-bottom: 100px;
        padding-left: 0;
        color: white;
    }

    .BIO-SOCIALS{
        display: flex;
        align-items: center;
    }

    .container-esquerda{
        display: flex;
        align-items: center;
    }

    .container-socials{
        box-shadow: none;
        height: 100px;
    }


    #discord:hover{
        height: 100px;
    }

    #spotify:hover{
        height: 100px;
    }

    #github:hover{
        height: 100px;
    }

    #linkedin:hover{
        height: 100px;
    }
}

@media (max-width: 960px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .phone-bg{
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;
        object-fit: fill;
        filter: blur(2px);
    }

    .container-esquerda{
        padding: 25px 0px 0px;
    }

    .container-bio{
        font-size: 13px;
    }

    .container-socials{
        background-color: #20344c;
        border: none;
        height: fit-content;
    }

    .container-info{
        padding-bottom: 50px;
    }

    .arrow-icon{
        position: static;
    }

    .grid{
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-auto-rows: auto;
        padding: 25px;
        cursor: url(/Assets/icons8-select-cursor-48.png), auto;
    }

    .card{
        font-size: 1.7rem;
    }

    .container-principal{
        width: fit-content;
        max-width: 100vw;
        box-shadow: none;
    }

    .container-direita{
        padding-bottom: 40px;
    }

    video{
        display: none;
    }

    #discord{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556325838434314/icons8-discord-65_1.png?ex=6588c3b9&is=65764eb9&hm=49c07cd2afacf424da641ddefed02be4ef8e61339fd405bfdb793e389aed8cba&);
        height: 75px;
        width: 80px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        transition: 250ms;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }

    #spotify{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556327579070484/icons8-spotify-65_1.png?ex=6588c3b9&is=65764eb9&hm=9841bf3f02924d507071b4e8822ceef6a99b84a326c5f416b1c5a55956c8f0f9&);
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        transition: 250ms;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #github{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556326266261555/icons8-github-65_1.png?ex=6588c3b9&is=65764eb9&hm=2288d07888f99c76fae2850c23d741e0441155b97c4095f898d72bc35582a79b&);
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #linkedin{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556326870229012/icons8-linkedin-65_1.png?ex=6588c3b9&is=65764eb9&hm=397160afbca64bcb33942667fd5b69afd9c0261a5fa6eda555b98d214fec7f8e&);
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        border-right: 1px solid white;
    }

    #discord:hover{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556326027173978/icons8-discord-65.png?ex=6588c3b9&is=65764eb9&hm=3776b4840124e04e0c7f000752b86b465f15d917515cdedc25d1b73372f9658e&);
        background-color: #ffffff00;
        height: 80px;
        width: 80px;
    }

    #spotify:hover{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556327893639258/icons8-spotify-65.png?ex=6588c3b9&is=65764eb9&hm=a32dac23f5261963a0fef3d933acafcbf25b9941fc0ed8185f4cae2d2b5bd551&);
        background-color: #ffffff00;
        height: 80px;
        width: 80px;
    }

    #github:hover{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556326522105927/icons8-github-65.png?ex=6588c3b9&is=65764eb9&hm=c0628fff8530ab3fa71dfc6f428c53142cef31400dc25933a3aa24fb31d8f736&);
        background-color: #ffffff00;
        height: 80px;
        width: 80px;
    }

    #linkedin:hover{
        background-image: url(https://cdn.discordapp.com/attachments/1077258727977123990/1183556327264505876/icons8-linkedin-65.png?ex=6588c3b9&is=65764eb9&hm=8148eff45d863036de3e983b029c7e09bbe5186598ad7f50536515ae63383695&);
        background-color: #ffffff00;
        height: 80px;
        width: 80px;
    }
}
